.head{
	background-color: darkred;
	color : azure
}
#MainHead {
	background-color: lightpink;
	font-size: 50px;
}
body {
	background-image: url("https://cdn.motor1.com/images/mgl/OrZne/s1/ford-mustang-logo-trademark-filing.jpg");
	
}
p {
	font-size: larger;
	margin-top: 0;
	text-align: justify;
	font: italic normal 1em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	color: black;
}